@import "../../styles/variables";

.check-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media (max-width: $tablets) {
    flex-direction: column;
  }
}
