@import "../../styles/variables";
.card {
    width: 40%;
    margin-bottom: 30px;
    margin-top: 30px;
    color: $text-color;
    background: rgba(149, 161, 204, 1);
    padding: 15px;
    border-radius: 20px;
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: $text-color;
    }
}