:root {
  font-size: 16px;
}

.App {
  height: 100%;
}

.container {
  max-width: 1100px;
  padding: 0 1em;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
