/* airly */

@import "../../../styles/variables";
.nav {
  display: flex;
  justify-content: space-between;
  color: $text-color;
  margin-top: 30px;
  .nav__list {
    list-style-type: none;
    display: flex;
    li {
      padding-left: 45px;
    }
    a {
      text-decoration: none;
      color: $text-color;
      font-size: 20px;
      transition: 0.2s;

      &:hover {
        color: #5b6176;
      }

      &.active {
        color: #5b6176;
      }
    }
  }
}

.container {
  max-width: 1100px;
  padding: 0 1em;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
