/* airly */

@import "../../../styles/variables";

.header {
  padding: 1.3rem 0;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger-btn {
    display: none;
    color: white;
    font-size: 1.3rem;

    @media (max-width: $tablets) {
      display: block;
    }
  }
}
.nav {
  display: flex;
  color: $text-color;
  align-items: center;
  height: 100%;

  @media (max-width: $tablets) {
    flex-direction: column;
    align-items: center;
    background-color: rgb(168,192,201);
    position: fixed;
    height: 100vh;
    z-index: 100;
    right: -200%;
    top: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    transition: .2s;
  }

  &.open-nav {
    right: 0;
  }

  &.open-nav .nav__exit-btn {
    display: block;
  }

  @media (max-width: $tablets) {
    flex-direction: column;
  }

  &__exit-btn {
    display: none;
  }
  .nav__list {
    list-style-type: none;
    display: flex;

    @media (max-width: $tablets) {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    li {
      padding-left: 45px;
      white-space: nowrap;

      @media (max-width: $tablets) {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
      }
    }
    a {
      text-decoration: none;
      color: $text-color;
      font-size: 20px;
      transition: 0.2s;
      &:hover {
        color: #5b6176;
      }
      &.active {
        color: #5b6176;
      }
    }
  }
}
