// .info-section {
//   width: 100%;
// }
.info-card {
  box-shadow: -3px 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  padding: 2rem;
  display: flex;
  max-width: 600px;
  width: 100%;
  color: white;
}

.left-side {
  max-width: 250px;
  margin-right: 40px;
  width: 100%;

  &__info {
    font-size: 25px;
    line-height: 1.3;
    margin-top: 20px;
  }

  h1 {
    font-size: 45px;
  }
}

.right-side {
  h3 {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.chemical-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 1.7rem;
    margin-bottom: 7px;

    span {
      color: #ffdada;
    }
  }
}

.green-card {
  background-color: rgba(#8ddd9f, 0.68);
}

.yellow-card {
  background-color: rgba(#b7c46d, 0.68);
}

.orange-card {
  background-color: rgba(#cfb96a, 0.68);
}

.dark_orange-card {
  background-color: rgba(#df9157, 0.68);
}

.red-card {
  background-color: rgba(#ad5b56, 0.68);
}
