@import "../../../styles/variables";

.mapSearch {
  width: 40%;
  margin-right: 7%;
  display: flex;
  flex-direction: column;
  .mapSearch__map-off {
    display: none;
  }
  .mapSearch__text {
    color: $text-color;
    h1 {
      font-size: 40px;
      line-height: 0.9;
      margin-bottom: 20px;
    }
<<<<<<< HEAD
    .mapSearch__text {
        color: $text-color;
        h1 {
            font-size: 49px;
            margin-bottom: 20px;
        }
        p {
            font-size: 22px;
        }
    }
    .searchForm{
        input {
            color: $text-color;
            font-size: 1.5rem;
            background-color: $bg-color;
            width: 360px;
            height: 40px;
            margin: 20px 0 20px 0;
            border: 1px solid $text-color;
        }
        input::placeholder {
            color: $text-color;
            font-size: 1.5rem;
            padding-left: 10px;
        }
        button {
            font-size: 1.5rem;
            width: 120px;
            height: 40px;
            background-color: $text-color;
            border: none;
            border-radius: 5px;
            color: $bg-color;
            cursor: pointer;
        }
=======
    p {
      font-size: 20px;
    }
  }
  .search-input {
    background-color: $bg-color;
    padding: 0.8em;
    margin: 20px 0 20px 0;
    border: 3px solid $text-color;
    outline: none;
    color: white;
    transition: 0.2s;
    border-radius: 10px;

    &:focus {
      border: 3px solid #8691b9;
    }
  }
  .search-input::placeholder {
    color: $text-color;
    font-size: 16px;
  }
  button {
    width: 120px;
    height: 40px;
    background-color: #8691b9;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #98c3b4;
>>>>>>> main
    }
  }
}
