@import "./styles/normalize";
@import "./styles/variables";

html {
  height: 100%;
}

body {
  font-family: "Limelight", cursive;
  font-family: "Raleway", sans-serif;
  background: $bg-color;
  height: 100%;
}
