@import "../../../styles/variables";
.footer {
  background-color: #95a1cc;
  margin-bottom: 0;
  padding: 20px 0px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__logo {
     margin-bottom: 50px;
  }
}


.students {

  color: $text-color;

  &__title {
    max-width: 150px;
    margin-bottom: 20px;
  }


  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    p {
      width: 100px;
    }

    a {
      color: $text-color;
    }
  }
}

