@import "../../../styles/variables";
.footer {
  background-color: #95a1cc;
  margin-bottom: 0;
  padding: 20px 0px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__nav {
    display: flex;
    .footer__list {
      list-style-type: none;
      li {
        padding-bottom: 10px;
      }
      a {
        color: $text-color;
        text-decoration: none;

        transition: 0.2s;

        &:hover {
          color: #5b6176;
        }
      }
    }
  }
  .createdBy {
    text-align: left;
    width: 30%;
    color: $text-color;
  }
}


